@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Plus+Jakarta+Sans:wght@600&display=swap');

//links
$color_link: #0E6ED6;
$color_link-visited: #003D7F;
$color_link-hover: #0552A5;

$arrow_link: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgMC4zMzMzNDRMNS44MjUgMS41MDgzNEwxMC40NzUgNi4xNjY2OEgwLjMzMzMzNlY3LjgzMzM0SDEwLjQ3NUw1LjgyNSAxMi40OTE3TDcgMTMuNjY2N0wxMy42NjY3IDcuMDAwMDFMNyAwLjMzMzM0NFoiIGZpbGw9IiMwRTZFRDYiLz4KPC9zdmc+Cg==';
// can't use background-image, because of privacy restrictions: https://developer.mozilla.org/en-US/docs/Web/CSS/:visited
//$arrow_link-visited: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMDAwMDQgMC4zMzMzMzZMNS44MjUwNCAxLjUwODM0TDEwLjQ3NSA2LjE2NjY3SDAuMzMzMzc0VjcuODMzMzRIMTAuNDc1TDUuODI1MDQgMTIuNDkxN0w3LjAwMDA0IDEzLjY2NjdMMTMuNjY2NyA3TDcuMDAwMDQgMC4zMzMzMzZaIiBmaWxsPSIjMDAzRDdGIi8+Cjwvc3ZnPgo=';
$arrow_link-hover: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMDAwMDQgMC4zMzMzMzZMNS44MjUwNCAxLjUwODM0TDEwLjQ3NSA2LjE2NjY3SDAuMzMzMzc0VjcuODMzMzRIMTAuNDc1TDUuODI1MDQgMTIuNDkxN0w3LjAwMDA0IDEzLjY2NjdMMTMuNjY2NyA3TDcuMDAwMDQgMC4zMzMzMzZaIiBmaWxsPSIjMDU1MkE1Ii8+Cjwvc3ZnPgo=';

body, html {
  color: #7D91A2;
  font-family: 'Noto Sans', 'Roboto', 'Lato', 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.011em;
}

h1 {
  color: #1A2F45;
  margin: 8px 0 16px;
  font-family: 'Plus Jakarta Sans', 'Roboto', 'Lato', 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.017em;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 24px;
  margin-bottom: 40px;
  li {
    position: relative;
    line-height: 28px;
    &::before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTk2MjUgOC45MDYyNUwxLjQ2ODc1IDUuNzc4NzVMMC40MDM3NDggNi44MzYyNUw0LjU5NjI1IDExLjAyODhMMTMuNTk2MiAyLjAyODc1TDEyLjUzODcgMC45NzEyNTJMNC41OTYyNSA4LjkwNjI1WiIgZmlsbD0iIzAwQTg5RiIvPgo8L3N2Zz4K);
      content: '';
      position: absolute;
      display: block;
      height: 10px;
      width: 14px;
      left: -22px;
      top: 12px;
    }
  }
}

a {
  background-image: url($arrow_link);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  color: $color_link;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding-right: 20px;

  &:visited {
    color: $color_link-visited;
    // can't use background-image, because of privacy restrictions: https://developer.mozilla.org/en-US/docs/Web/CSS/:visited
    // background-image: url($arrow_link-visited);
  }
  &:hover {
    background-image: url($arrow_link-hover);
    color: $color_link-hover;
  }
  &:active {
    background-image: url($arrow_link-hover);
    color: $color_link-hover;
    text-decoration: underline;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 16px;
}

.container {
  align-items: stretch;
  background: #FFF;
  border: 1px solid #D8DFE7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 4;
  margin-top: 64px;
  padding: 24px;
}

.image {
  max-width: 84px;
  img {
    width: 100%;
  }
}

@media (min-width: 992px) {

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    padding: 0;
  }

  .container {
    flex-direction: row;
    grid-column: 3 / span 8;
  }

  .image {
    max-width: 180px;
    flex-shrink: 0;
  }

  .content {
    padding-left: 40px;
  }

} // min-width: 992px